/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aa5ac;
  --primary-hover:#12796d;
  --error: #e7195a;
  --error-hover:#b31345; 
}
body {
  margin: 0;
  font-family: "Poppins";
}
header{
  padding:20px;
}
header span{
  margin: 0 20px 0 20px;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 40px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border-radius: 12px;

}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  min-width:500px;


}
.home div{
  min-width:500px;
  overflow-x:hidden;

}
.home h3{
  
}
.home h4{
  margin: 0 0 10px 0;
}
.home label, .home input {
  display: inline;
}
.files{
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;


}
.file-list{
  overflow-y: scroll;
  max-height: 65vh;
  margin: 20px 0 20px 0;
  
}
.file-details {
  background: #fff;
  border-radius: 4px;
  margin: 5px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.file-details p {
  margin: 0 20px 0 20px;
  display:inline;
  font-size: 1.1em;
  color: #555;
}
.file-details img{
  height: "75px"
}
.file-details button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px;
}

.wallpaper-options{
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  
}
.wallpaper-options div {
  padding: 20px 20px 20px 20px;
}
.wallpaper-options h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;

}
.wallpaper-options p, .wallpaper-options label {
  display:inline;
  font-size: 1.1em;
  color: #555;
}
.wallpaper-options .radio{
  cursor: pointer;
  top: 0;
  left: 0;
  height: 20px;
  width:20px;
  background-color: #eee;
  border-radius: 50%;
}
.wallpaper-options input { 
  margin:15px;
}
.wallpaper-options img{
  display: block;
}
.wallpaper-options button{
  position: absolute;
  bottom: 20px;
  right: 30px;
}
/* new image form */

.upload-button{
    display: inline-block;
    cursor: pointer;
    background: var(--primary);
  color: #fff;
  border:0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
}
.upload-button:hover{
  background: var(--primary-hover)

}
.upload-button:active{
  box-shadow: inset 0px 0px 5px #f5f5f5;
}
input[type="file"] {
  display: none;
}
body button {
  background: var(--primary);
  color: #fff;
  border:0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
button:active {
  box-shadow: inset 0px 0px 5px #f5f5f5;
}
button:hover{
  background: var(--primary-hover)

}
button.delete:hover{
  background: var(--error-hover)
}
button.delete{
  padding: 5px 15px 5px 15px;
  background-color:var(--error);
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

/* auth forms */
Form.signup, Form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
Form.signup label, Form.login label,Form.signup button, Form.login button{
  margin:20px 0 0 0;
  display:block;
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display:inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}