/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #80BCBD;
  --primary-hover:#669697;
  --error: #E78895;
  --error-hover:#FF8080; 

  --light-background: #fafafa; /*background*/
  --dark-background: #1f2023; /*background, text*/
  --white-text: #efefef; /*text*/
  --two-tone-grey: #f1f1f1;
}

body {
  margin: 0;
  background-color: var(--light-background);
  color: var(--dark-background);
  scrollbar-color: var(--dark-background) var(--light-background);
  --image-grayscale: 0;
  --image-opacity: 100%;
  
}


.dark{
  background-color: var(--dark-background);
  color: var(--white-text);
  scrollbar-color: var(--white-text) var(--dark-background);
  --image-grayscale: 25%;
  --image-opacity: 90%;
}
.dark .form-outline, .dark .form-control, .dark .form-label{
  color:var(--white-text) !important;
}
img {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

header{
  padding:20px;
}
header span{
  margin: 0 5px 0 10px;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.dark header a{
  color: var(--white-text);
}
.pages{
  max-width: 1400px;
  min-height:300px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 12px;

}

/* homepage */
.loading{
  text-align:center;
}
.loading h1, .loading section{
  display:inline-block;

}
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  min-width:500px;


}

.home .container{
  min-width:500px;
  overflow-x:hidden;

}
.home h3{
  
}
.home h4{
  margin: 0 0 10px 0;
}
.home label, .home input {
  display: inline;
}
.files{
  border-radius: 12px;
  padding: 20px;


}
.file-list{
  overflow-y: scroll;
  max-height: 50vh;
  
}
.file-details {
  border-radius: 4px;
  margin: 5px auto;
  padding: 20px;
  position: relative;

  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.05); */
}

.file-details p {
  margin: 0 20px 0 20px;
  display:inline;
  font-size: 1.1em;
}
.file-details img{
  height: "150px"
}
.file-details button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px;
}

.wallpaper-options{
  border-radius: 12px;
  padding: 20px;
  position: relative;
  
}
.wallpaper-options div {
  padding: 20px 20px 20px 20px;
}
.wallpaper-options h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;

}
.wallpaper-options p, .wallpaper-options label {
  display:inline;
  font-size: 1.1em;
}
.wallpaper-options .radio{
  cursor: pointer;
  top: 0;
  left: 0;
  height: 20px;
  width:20px;
  border-radius: 50%;
}
.wallpaper-options input { 
  margin:15px;
}
.wallpaper-options img{
  display: block;
}
.wallpaper-options button{
  position: absolute;
  bottom: 20px;
  right: 30px;
}
/* new image form */

.upload-button{
    display: inline-block;
    cursor: pointer;
    background: var(--primary);
  color: #fff;
  border:0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
}
.upload-button:hover{
  background: var(--primary-hover)

}
.upload-button:active{
  box-shadow: inset 0px 0px 5px #f5f5f5;
}
input[type="file"] {
  display: none;
}
body button {
  background: var(--primary);
  color: #fff;
  border:0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
button:active {
  box-shadow: inset 0px 0px 5px #f5f5f5;
}
button:disabled, button:disabled:hover { 
  opacity: 40%;
  background-color:grey;
}

button:hover{
  background: var(--primary-hover)

}
button.delete:hover{
  background: var(--error-hover)
}
button.delete{
  padding: 5px 15px 5px 15px;
  background-color:var(--error);
}
div.error {
  padding: 10px;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  /* display: flex; */
  /* align-items: center; */
}
nav a {
  margin-left: 10px;
}
.nav-buttons {
  vertical-align: middle;
  display:inline-block;

}
.react-toggle{
  /* float:left; */
  vertical-align: middle;

}
.react-toggle-track > * { 
  line-height: 10px !important;
  font-size: 14px;
  
}
.react-toggle--checked .react-toggle-track {
  background-color: #3d3f45 !important;
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #54575f !important;
}
.react-toggle-thumb{
  border-color: black !important;
}

/* auth forms */
.authpage{
  display:inline-block;
  background-color: grey;
  width:100%
}
.signup, .login{
  /* border: 2px ridge; */
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 4px;
  display:inline-block;

}
/* div.signup label, div.login label,div.signup form button, div.login form button{
  margin:20px 20px 0 0;
  display:block;
} */
div.signup p, div.login p{
  margin: 10px 0 0 0;
}
div.signup button, div.signup form button, div.login button, div.login form button{
  /* width: 100px; */
  /* margin: 0 auto; */
  display: block;
}
.carousel img, .carousel{
  height: 400px;
}
.carousel{
  width:800px;
  overflow:visible;
  display:inline;
}



.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display:inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.help-tip {
  float:right;
  min-width: 24px !important; 
  top: 16px;
  right: 16px;
  text-align: center;
  background-color: var(--primary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 26px;
  cursor: default;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  overflow:visible !important;
}

.help-tip:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.help-tip:before {
  content: '?';
  font-weight: 700;
  color: #fff;
}

.react-tooltip{
  z-index:7;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }